node_modules
npm-debug.log*
.git
.gitignore

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml

.vscode
.idea
.DS_Store
Thumbs.db


# Proton VPN / WireGuard secrets

gluetun/wireguard/*.conf
gluetun/wireguard/*.key
gluetun/secrets